html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', serif;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    padding: 0 50px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

@media all and (max-width: 800px) {
    .nav-links {
        justify-content: space-around;
        padding: 0;
    }
}

@media all and (max-width: 500px) {
    .nav-links {
        flex-direction: column;
    }
}

.nav-link {
    display: inline-block;
    margin: 5px 15px;
}

.nav-link a {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
}

.nav-link--active a {
    background: #fff;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.parallax {
    perspective: 1px;
    perspective-origin-x: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    transform-origin-x: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--back {
    transform: translateZ(0);   
}

.parallax__layer--base {
    transform: translateZ(-5px) scale(6);
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.bg--one {
    background-image: url("../img/UCDavisView.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
}

.bg--one--up {
    background-image: url("../img/UCDavisView.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: 0 -25vh;
}
.bg--two {
    background-image: url("../img/UCDAVIS002aHQ.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
}

.spacer--one {
    height: 90vh;
    width: 100%;
}

.spacer--short {
    height: 40vh;
    width: 100%;
}

.down-arrow {
    position: absolute;
    bottom: 5px;
    color: rgba(0,0,0,.26);
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 54px;
}

.masthead {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 15px;
}

.masthead h1, h2 {
    color: #fff;
    display: inline-block;
    margin: 0 5px;
}

.masthead h1 {
    font-size: 40px;
    font-weight: 700;
}

.masthead h2 {
    font-size: 32px;
    font-weight: 100;
}

.logo--main {
    height: 6vh;
    width: 7vh;
    background-image: url("../img/logo.png");
    background-size:   cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.about-section, .clients-section, .content-section {
    background: #f9f9fa;
    padding: 25px 0;
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    margin: 15px auto 45px auto;
    padding: 25px 45px;
    width: 60%;
}

.card .name {
    font-size: 34px;
    font-weight: 500;
}

.card a {
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
}

.testimonial {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
    margin: 15px;
}

.main-description {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
}

.main-description h2 {
    color: #000;
    font-weight: 300;    
}

.main-description p {
    font-size: 20px;
    padding: 0 25px;
}

.main-description ul {
    margin-left: 25px;
}

.author {
    font-size: 18px;
    margin: 25px 45px;
    font-weight: 300;
}
